body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar-thumb {
  background: rgba(108, 65, 233, .7) !important;
}
::-webkit-scrollbar {
  width: 1% !important;
  background: #110f53 !important;
}